.sort-header {
  display: flex;
  justify-content: space-between;
  span {
    cursor: pointer;
    i {
      padding: 0 2px;
    }
  }
}

.group-btns {
  .export {
    margin: 0 10px;
  }
  i {
    margin-right: 5px;
  }
}
